@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   
    ViewData["Title"] = "Add Patient Report Page";
}
<div>
    <section class="newDr_section layout-padding-bottom">
        <div class="container">
            <div class="heading-container">
                <h2>Patient Report</h2>
            </div>
            <div class="row">
                <!--<div class="col-md-7">
                    <form action="upload.php" method="post" enctype="multipart/form-data">
                        <input type="file" name="image" accept="image/*">
                        <input type="submit" value="Upload">
                        <p>
                            This is a paragraph with a <a href="https://example.com">link</a> in it.
                        </p>
                    </form>
                </div>-->
                <div class="col-md-7">
                    <div class="form-container">
                        <form action="" method="get">
                            <div>
                                <label for="user">Patient Nam:</label>
                                <input type="text" id="p-name" placeholder="Patient Name" />
                            </div>
                            <div>
                                <label for="user">Patient ID:</label>
                                <input type="text" id="id" placeholder="ID" />
                            </div>

                            <div>
                                <label for="user">Report:</label>
                                <input type="file" name="file" accept="file/*" />
                            </div>
                            <div>
                                <input type="submit" value="submit">
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>