@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login Page";

}


<div class="login-area">
    <section class="login_section layout-padding-bottom">
        <div class="container">
            <div class="heading-container">
                <h2>Login</h2>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="form-container">
                        <form method="post">
                            <input type="text" name="email" class="form-control" id="name" placeholder="email" required>
                            <input type="password" name="password" class="form-control" id="name" placeholder="password" required>
                            <input type="submit" />
                        </form>
                    </div>

                </div>
                <div class="col-md-5">
                    <div class="img-box">
                        <img src="~/images/login.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
